<div id="footerbox">
    <footer class="wrapper style1 align-center">
        <div class="inner">
            <ul class="icons">
                <li><a href="https://twitter.com/dressup_ucla" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/dressupucla" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="mailto:zoe@library.ucla.edu" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p>&copy; DResSUP | UCLA Library</p>
        </div>
    </footer>
</div>