---
layout: default
---

{% if page.session %}
    {% assign class = page.session %}
{% else %}
    {% assign class = "summer-17" %}
{% endif %}

<div id="wrapper" class="divided">
    <section class="spotlight style2 orient-left content-orient-left">
        <div class="content">
            {% include navbar.html %}
            <h2>Participants</h2>
            {% for class in site.sessions %}
            <a href="{{ class.url }}" class="button">{{ class.title }}</a>
            {% endfor %}
        </div>
    </section>

    {% for person in site.people %}
    {% if person.role == "participant" and person.session == class %}
    <section class="spotlight style2 orient-left content-orient-left">
        <div class="content ">
            <div class="row">
                <div class="col-4">
                    <div class="image" style="width: 10rem; height: 10rem; display: block; margin: auto;">
                        {% if person.picture %}
                        <img src="{{ site.baseurl }}/images/{{ person.picture }}.jpg">
                        {% else %}
                        <img src="{{ site.baseurl }}/images/colors.jpg">
                        {% endif %}
                    </div>
                    <h3 style="text-align: center; padding-top: 15px;"><a href="{{ person.url }}">{{ person.display_name }}</a></h3>
                    <ul class="icons" style="text-align: center;">
                        {% if person.twitter %}
                        <li><a href="https://twitter.com/{{ person.twitter }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        {% endif %}
                        {% if person.github %}
                        <li><a href="https://github.com/{{ person.github }}" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                        {% endif %}
                         {% if person.email %}
                        <li><a href="mailto:{{ person.email }}" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
                        {% endif %} 
                    </ul>
                </div>

                <div class="col-8">
                        <h3>Latest Posts</h3>
                        <ul>
                            {% for post in site.posts %}
                                {% if post.author == person.display_name %}
                                <li><h4><a href="{{ post.url }}">{{ post.title }}</a></h4></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    <!-- {% if person.blurb %}
                    <p class="blurb">{{ person.blurb }}</p>
                    {% endif %} -->
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endfor %}

    <div class="footerbox">
        {% include footer.html %}
    </div>
</div>