---
layout: default
---
<div id="wrapper" class="divided">
    <section class="spotlight style2 orient-left content-orient-left">
        <div class="content">
            {% include navbar.html %}
            <h2>Posts</h2>
        </div>
    </section>

    <section class="spotlight style2 orient-left content-orient-left">
        <div class="content">
            {% for post in site.categories.posts %}
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <h4>{{ post.date | date: '%B %d, %Y' }}</h4>
                {{ post.excerpt }}
            {% endfor %}
        </div>
    </section>

    {% include footer.html %}
</div>